<!DOCTYPE html>
<html lang="en" ng-app="tempoApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <title>Tempo Console</title>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
    <div ng-controller="SpotifyCtrl as spotify">
        <div class="col-center">
            <button id="login-btn" type="button" ng-click="spotify.loginUser()">Login</button>
        </div>
        <div class="col-center">
            <h3>{{ spotify.title }}</h3></div>

        <div class="row" ng-show="spotify.showPlaylistData" ng-init="spotify.showPlaylistData=false">
            <div class="col-sm-6 col-center">
                <h3>{{ spotify.userData.display_name }} Playlists</h3>
                <ul class="list-group">
                    <div ng-repeat="playlist in spotify.playlists" ng-click="spotify.loadPlaylist(playlist)">
                        <li class="list-group-item">{{ playlist.name }}</li>
                    </div>
                </ul>
            </div>

            <div class="col-sm-6 col-center">
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Song</th>
                            <th>Artist</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="track in spotify.playlistTracks">
                            <td>{{ track.name }}</td>
                            <td>{{ track.artist }}</td>
                            <td>{{ track.duration_ms | duration }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="assets/libs/angular/angular.min.js"></script>
    <script src="assets/libs/angular-bootstrap/ui-bootstrap.min.js"></script>
    <!--        <script src="assets/libs/angular.1.4.5.min.js"></script>-->
    <script src="app/app.module.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>