.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.col-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.list-group-item {
    background-color: crimson;
    border-color: #640036;
    margin-top: 1px;
    color: beige
}